body
{
	font-family: Karla,sans-serif;
	color: #747704;
	/*color:#70e2ff;background-color: #333 */;
	

}

.text-super
{
	font-size: 60px;
}
.text-thin
{
	font-weight: 100;
}

@media only screen and (max-width: 970px)
{
	h1,h2,h4
	{
		text-align: center;
	}
	.caption-text p
	{
		font-size: 20px;
	}
}

.caption-container 
{
	overflow:hidden;position:relative;
}
.caption-text
{
	position:absolute;
	background-color:#000;
	width:100%;
	bottom:0;
	
	z-index:2;
	opacity:0.4;
}

img
{

    margin: 0 auto;
}


.text-muted
{
	
	color:#BCBBBB;
}
hr 
{
	color: #7d7;
	border: 3px solid #BCBBBB;
	
}

.profile-picture
{
	
	width: 130px;
	height: 130px;
	margin-top:20px;
	border: 2px solid #747704;

}
.modal {background: none;}